.page-container {
  display: flex;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
}

.login-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 50%;
}

.carousal-container {
  background-color: #697bff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-container {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.brand-logo {
  height: 40px;
  margin-right: 20px;
  position: absolute;
  top: 20px;
}

@media (max-width: 768px) {
  .page-container {
    grid-template-columns: 1fr;
  }

  .login-form-container {
    max-width: 90%;
    align-items: left;
  }

  .carousal-container {
    display: none;
  }

  .login-container {
    margin-top: 20px;
  }
}
