.navbar-header {
  background: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-container {
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  width: 100%;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px;
  margin-right: 20px;
}

.navbar-search-input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.navbar-hamburger {
  display: none;
}

.navbar-menu-desktop {
  display: block;
}

@media (max-width: 768px) {
  .navbar-search-input {
    display: none;
  }
  .navbar-menu-desktop {
    display: none;
  }

  .navbar-hamburger {
    display: block;
  }
}
